run/*.list
run/*.imagelist
run/output/
sphenix_macros/
src/#R24earlytreemaker.cc#
src/Makefile.in
src/aclocal.m4
src/autom4te.cache/
src/config.guess
src/config.sub
src/depcomp
src/install-sh
src/ltmain.sh
src/missing
.gitignore~
run/sPHENIXplots.C
run/sPhenixStyle.C
run/sPhenixStyle.h
run/summed.root
run/*.root
run/*.sub
run/backup/
run/shortrunlist.txt
run/runlist.txt
run/longrunlist.txt
run/listoflist.txt
lists/
run/flatrunlist.txt
run/activerunlist.txt